@import "./styles/theme.css";
@import "tailwindcss";

@theme {
  --color-bg: var(--color-bg);
  --color-bg-soft: var(--color-bg-soft);
  --color-accent: var(--color-accent);
  --color-accent-hover: var(--color-accent-hover);
  --color-text: var(--color-text);
  --color-text-muted: var(--color-text-muted);
  --color-border: var(--color-border);
}